<header>
    <h1>{{screamIt pageTitle}}</h1>
    <p>Welcome to the {{pageTitle}}</p>
    <p>
        <a href="/">Home</a>
    </p>
    <p>
        <a href="/about">about</a>
    </p>
    <p>
        <a href="/portfolio">portfolio</a>
    </p>
</header>