<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintainance</title>
</head>

<body>
    <h1>We'll be right back</h1>
    <p>
        This site is currently being updated.
    </p>

</body>

</html>